.float-popup-menus float-popup-menu:nth-child(even) {
    margin-bottom: 90px;
}

.output-wrapper {
    min-height: 100vh;
    width: 100%;
    background-color: var(--color1);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.final-result {
    font-size: 2rem;
    font-family: 'Arial', sans-serif;
    color: var(--color3);
    text-align: center;
    max-width: 65%;
    word-wrap: break-word;
    overflow: hidden;
}